.inputsBlock{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Header{
    display: flex;
    // flex-direction: column;
    justify-content: end;
    height: 120px;
}

.authButtonsBlock {
    display: flex;
    flex-direction: column;

    gap: 5px;


    width: 15%;
}

.Body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    // align-content: center;
}

.ResultBlock{
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ResultText {
    margin: 0 auto;
}

.ResultLink{
    margin: 0 auto;
}



.linkAlias{
    margin: 0 auto;
}   

.AllLinksBlock{
    display: flex;
    flex-direction: column;
}

.linksContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.allLinksHeader{
    margin: 0 auto;
    margin-bottom: 10px;
}